.transparent-card {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    backdrop-filter: blur(5px); 
  }
  .card-img-left {
    object-fit: cover;
    height: 100%; 
  }
  .nav-link {
      color: #ffffff !important;
      font-size: 1.5rem;
  }
  .nav-link:hover {
      color: #0d6efd !important; 
  }
  .glowing-navbar {
      background-color: rgba(0, 0, 0, 0); 
      box-shadow: 0 0 30px #0d6efd;
      width: 100%; 
  }
  .glowing-line {
      width: 100%;
      height: 4px;
      background-color: #0d6efd;
      box-shadow: 0 0 30px #0d6efd;
  }
  .img-fixed {
  max-width: 400px; 
  height: auto; 
  }
  .american-typewriter {
  font-family: 'Courier', serif;
  font-size: 1.5rem;
  font-weight: bold;
  }
  .custom-text {
      font-size: 1.2rem;
      line-height: 2; 
      background-color: rgba(0, 0, 0, 0); 
      border: none;
      backdrop-filter: blur(5px);
  }
  .instagram-media div {
    display: none !important;
  }
  .carousel-item img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover; 
  margin: auto; 
  }
  .responsive-img {
  width: 100%; /* Pe desktop, imaginea ocupă 40% din lățimea containerului */
  max-width: 500px; /* Dar nu mai mare de 500px */
  height: auto; /* Păstrează proporțiile */
  transform: rotate(-2deg);
  transition: all 0.3s ease;
  }
  /* Pe telefoane (ecrane mai mici de 768px) */
  @media (max-width: 768px) {
      .responsive-img {
          width: 100%; /* Ocupă mai mult spațiu pe mobil */
          max-width: 500px; /* Limită pentru a nu fi prea mare */
      }
  }
  /* Full-page preloader */
  #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('static/images/Wall4.png') repeat center center;;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
  }

  /* Loading spinner */
  .spinner-border {
      width: 4rem;
      height: 4rem;
  }
  .instagram-icon {
    color: #E1306C; /* Instagram Pink */
    }
    .youtube-icon {
        color:red;
    }
    .whatsapp-icon {
        color:green;
    }
    .linkedin-icon {
        color: blue;
    }
    .carousel-item {
        display: none;
    }

    .carousel-item.active {
        display: block;
    }
    .instagram-video {
        width: 100%;
        max-width: 300px; /* Adjust width if needed */
        aspect-ratio: 9 / 16; /* Makes it vertical */
    }